<ion-view view-title="Rooms">
	<ion-header-bar class="bar bar-header bar-royal">
        <h1 class="title">Chat Groups</h1>
         <button ng-click="modal.show()" class="button button-clear button-outline" style="font-weight:400;">
             + New
         </button>
    </ion-header-bar>
	<ion-content>
		<!-- <ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefreshRooms()" refreshing-icon="ion-loading-c"></ion-refresher> -->
		<!-- <div class="list card" style="box-shadow:0 0px 0px rgba(0, 0, 0, 0);">
      		<a class="item item-text-wrap">
        		<div class="row" style="padding:0px;">
          			<div class="col col-100">
            			<h2 style="text-align: justify;">Tips: Start room chats by clicking items below! If the list is not loaded, please click other tabs and then go back to this tab again.</h2>
          			</div>
        		</div>
      		</a>
    	</div> -->
    	<div class="list card" ng-if="rooms.length == 0" style="box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);">
      		<ion-item class="textCenter">
        		<i class="icon ion-loading-c"></i> Loading your chat rooms...
      		</ion-item>
    	</div>
		<div class="list card" ng-show="rooms" style="box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);">
    		<a class="item item-icon-left" ng-repeat="room in rooms" type="item-text-wrap" ng-click="openChatRoom(room.$id)">
      			<i class="icon {{room.icon}}"></i>
				<h2>{{room.name}}</h2>
				<p>{{room.intro}}</p>
    		</a>
		</div>
	</ion-content>
</ion-view>	