<ion-view>
  <ion-tabs padding="true" class="tabs-icon-left tabs-color-royal tabs-striped tabs-color-active-royal">

    <ion-tab title="Chat" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" href="#/main/chat">
      <ion-nav-view name="chat-tab"></ion-nav-view>
	  </ion-tab>

	  <ion-tab title="Groups" icon-on="icon ion-ios-albums" icon-off="icon ion-ios-albums-outline" href="#/main/rooms">
      <ion-nav-view name="rooms-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Contacts" icon-on="icon ion-ios-personadd" icon-off="icon ion-ios-personadd-outline" href="#/main/people">
      <ion-nav-view name="people-tab"></ion-nav-view>      
    </ion-tab>

    <ion-tab title="Logout" icon-on="icon ion-log-out" icon-off="icon ion-log-out" href="#/main/logout">
      <ion-nav-view name="logout-tab"></ion-nav-view>      
    </ion-tab>

  </ion-tabs>
</ion-view>

