<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal">
        <h1 class="title">Create New Group</h1>
        <button class="button button-clear" style="font-weight: 400;" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list card" style="box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);">
            <label class="item item-input" style="border-color: #8a6de9;">
                <span class="input-label royal">Group Name</span>
                <input ng-model="room.name" type="text" placeholder="Football">
            </label>
            <label class="item item-input" style="border-color: #8a6de9;">
                <span class="input-label royal">Group Icon</span>
                <input ng-model="room.icon" type="text" placeholder="ion-ios-football">
            </label>
            <label class="item item-input" style="border-color: #8a6de9;">
                <span class="input-label royal">Introduction</span>
                <input ng-model="room.intro" type="text" placeholder="For football fans!">
            </label>
        </div>
        <div>
            <button class="button button-block button-royal" style="border-color: #8a6de9;" ng-click="createRoom(room)">Create</button>
        </div>
    </ion-content>
</ion-modal-view>