<ion-view view-title="Chat">
	<ion-header-bar class="bar bar-header bar-royal">
        <h1 class="title">Public Chat Room</h1>
    </ion-header-bar>
	<ion-content>
        <!-- <ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefreshChats()" refreshing-icon="ion-loading-c"></ion-refresher> -->
		<ion-list>
            <ion-item class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="IM.textMessage" style="height:31px;" placeholder="Type in your message...">
                </label>
                <button ng-click="sendMessage(IM.textMessage)" style="width: 20%; border-color:#66cc33;" class="button button-small button-balanced">
                    Send
                </button>
            </ion-item>
            <!-- <ion-item ng-hide="chats" class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Chats
            </ion-item> -->
            <ion-item ng-if="chats.length == 0" class="textCenter">
                <p>No messages in this room. Send message to start.</p>
            </ion-item>
            <ion-item class="chat-content" ng-repeat="chat in chats | orderBy:'createdAt':true" type="item-text-wrap">
                <div class="row">
                    <div class="col col-50">
                        <h3>{{chat.from}}:</h3>
                    </div>
                    <div class="col col-50">
                        <h3 am-time-ago="chat.createdAt" class="item-note"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100" style="text-align:justify;">
                        <p class="item-text-wrap">{{chat.message}}</p>
                    </div>
                </div>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>